
<!doctype html>
<html lang="en" data-bs-theme="auto">
  {% include 'header.html' %}
  <body class="d-flex align-items-center py-4">

    <div class="container">
      <div class="col">
        
        <div class="row">
          <header class="d-flex justify-content-center py-3">
          </header>
        </div>

        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
          
      </div>
    </div>

  </body>
  {% include 'footer.html' %}
</html>